* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}



/*RP Logo area*/
.rp-logo {
    height: 80px;
}



/*Main area*/
.main-area
{
    height: 758px;
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#StudentLoginBox
{
    padding: 2em 1.5em;
}


#colour-side {
    height: 500px;
    margin-top: 100px;
    background-color: yellow;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#login-side {
    height: 500px;
    margin-top: 100px;
    background-color: white;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}