@model LoginUser

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Concession Card</title>

    <!-- style sheets references -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/AdminLoginPage.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <!--RP Logo Area-->
    <section id="banner" class="rp-logo">
        <img src="~/images/RP_Logo.png" width="200" height="80" />
    </section>

    <section id="banner" class="main-area">
        <div class="container" id="Admin-Login-Container">
            <div class="row">
                <div class="col-md-6" id="login-side">
                    <h1 class="text-center">Change Password</h1>


                            <form asp-controller="AdminAccount" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">


                                <div class="form-horizontal">
                                    <span style="color:red">@ViewData["Msg"]</span>


                                    <div class="form-group">
                                        @*<label asp-for="Email" style="font-size: 15px;" class="col-5 control-label">Re-Enter Email: </label>*@
                                            <input asp-for="Email" style="font-size: 20px; margin-top: 80px;" class="form-control"  placeholder="Re-enter Email"/>
                                    </div>


                                    <div class="form-group">
                                        @*<label asp-for="Password" style="font-size: 15px;" class="col-5 control-label">Change Password: </label>*@
                                            <input asp-for="Password" style="font-size: 20px; margin-top: 80px;" class="form-control" placeholder="Change Password"/>

                                        @*<div class="col-5">
                                <input class="form-check-input" type="checkbox" value="" id="shPassword">
                                <label class="form-check-label" for="flexCheckDefault">Show Password</label>
                            </div>*@
                                    </div>


                                    <div class="form-group row">

                                            <input type="submit" style="margin-left: 200px;" value="Change Password" class="btn btn-primary btn-default" />
                                        </div>
                                    </div>

                            </form>

                </div>

            </div>
        </div>
    </section>
</body>
</html>