@model UpdatePassword

<h2>Change Password</h2>

<div class="row">
    <div class="col-8">
        <form asp-controller="AdminAccount" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            <div class="form-horizontal">

                <span style="color:red">@ViewData["Msg"]</span>

                <div class="form-group row">
                    <label class="col-4 control-label">Current Password: </label>
                    <div class="col-6">
                        <input asp-for="CurrentPassword" class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 control-label">New Password: </label>
                    <div class="col-6">
                        <input asp-for="NewPassword" class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 control-label">Confirm Password: </label>
                    <div class="col-6">
                        <input asp-for="ConfirmPassword" class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-offset-4 col-10">
                        <input type="submit" value="Update" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>