@model Admin

@*<script>
    $(document).ready(function () {
        $('#shPassword').click(function () {
            $('#myPassword').attr('type', $(this).is(':checked') ? 'text' : 'password');
            var currentPasswordField = $('#myPassword');
            var currentPassword = currentPasswordField.val();

            currentPasswordField.remove();

            if ($(this).is(':checked')) {
                $(this).before('<input type="text" asp-for="ConfirmPassword" id="myPassword" class="form-control" value="' + currentPassword + '"/>');
            }
            else {
                $(this).before('<input type="password" asp-for="ConfirmPassword" id="myPassword" class="form-control" value="' + currentPassword + '"/>');
            }
        });
    });
</script>*@


<h2>Change Password</h2>

<div class="row">
    <div class="col-8">
        <form asp-controller="AdminAccount" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            
            
            <div class="form-horizontal">
                <span style="color:red">@ViewData["Msg"]</span>

                @*<div class="form-group row">
            <label asp-for="NewPassword" class="col-4 control-label">New Password: </label>
            <div class="col-6">
                <input asp-for="NewPassword" class="form-control" />
            </div>
            <div class="has-error">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>*@
                <input asp-for="Id" readonly="readonly" />

                <div class="form-group row">
                    <label asp-for="AdminPassword" class="col-2 control-label">Change Password: </label>
                    <div class="col-5">
                        <input  asp-for="AdminPassword"  class="form-control" />
                    </div>
                    <div class="has-error">
                        <span asp-validation-for="AdminPassword" class="text-danger"></span>
                    </div>

                    @*<div class="col-5">
                <input class="form-check-input" type="checkbox" value="" id="shPassword">
                <label class="form-check-label" for="flexCheckDefault">Show Password</label>
            </div>*@



                </div>


                <div class="form-group row">
                    <div class="col-offset-4 col-10">
                        <input type="submit" value="Change Password" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>