
@model LoginUser
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Concession Card</title>

    <!-- style sheets references -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/AdminLoginPage.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <!--RP Logo Area-->
    <section id="banner" class="rp-logo">
        <img src="~/images/RP_Logo.png" width="200" height="80" />
    </section>




    <section id="banner" class="main-area">
        <div class="container" id="Admin-Login-Container">
            <div class="row">

                <div class="col-md-6 text-center" id="colour-side">
                    <h2>How does it work?</h2>
                    <p>Simply enter your student email and click the button to get the 6 digit OTP sent to your email!</p>
                </div>

                <div class="col-md-6" id="login-side">
                    <h1 class="text-center">Admin Login</h1>

                    <form  method="post">

                        <div class="form-group">
                            <input type="text" style="font-size: 20px; margin-top: 80px;" class="form-control" placeholder="Email" value="" />
                        </div>

                        <div class="form-group">
                            <input type="text" style="font-size: 20px; margin-top: 20px;" class="form-control" placeholder="Password" value="" />
                        </div>

                        <div class="form-group">
                            <input type="submit" style="margin-left: 200px;" class="btn btn-lg btn-primary" value="Login" />
                        </div>
                        @if (ViewData["Message"] != null)
                        {
                            <div class="form-group row">
                                <div class="alert alert-@ViewData["MsgType"]">
                                    <text>@ViewData["Message"]</text>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>