@model DataRowCollection

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Concession Card</title>

    <!-- style sheets references -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>



    <!--jQuery functions-->
    <script>
        //Scroll to content -> on click
        $(document).ready(function () {
            $('a[href^="#"]').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').animate({
                    scrollTop: $target.offset().top
                }, 1000, 'swing', function () {
                    window.location.hash = target;
                });
            });
        });

        $(document).ready(function () {
            $('.about-button').on('click', function (e) {
                e.preventDefault();

                var target = this.hash;
                var $target = $(target);

                $('html, body').animate({
                    scrollTop: $target.offset().top
                }, 1000, 'swing', function () {
                    window.location.hash = target;
                });
            });
        });


        //Scroll to top
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 700) {
                    $('#topBtn').fadeIn();
                }
                else {
                    $('#topBtn').fadeOut();
                }
            });

            $("#topBtn").click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800)
            });
        });

    </script>

</head>


<body>

    <!--NAVIGATION BAR-->
    <header class="header_area">

        <nav class="navbar navbar-expand-lg navbar-light  ">
            <a class="navbar-brand" href="#"><img src="~/images/RP_Logo.png" width="200" height="80" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"></div>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#announcement-text">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!--RP Logo Area-->
    <!--<section id="banner" class="rp-logo">
        <img src="~/images/RP_Logo.png" width="200" height="80" />
    </section>-->


    <!--Image + Student or Admin login choice-->
    <section id="banner" class="main-area">
        <!--NOT SURE WHERE TO PUT ANNOUNCEMENT YET-->

        <div class="container">
            <div class="row">
                <!--Text to intro what is this website about-->
                <div class="col-md-6 text-center" id="text-in">
                    <h2 class="text-on-top">STUDENT CONCESSION CARD</h2>
                    <p>
                        This website is created to improve on Republic Polytechnic's student concession card system.
                        This website allows both students and admins of Republic Polytechnic to check and track card status with ease.
                    </p>
                    <p>Click either "Student" or "Admin" to begin!</p>



                </div>

                <!--Image beside the text-->
                <div class="offset-sm-1  col-md-5" id="top-image">
                    <img src="~/images/Friends.png" class="img-fluid" />
                </div>
            </div>

            <div class="row">

                <!--Buttons for Student and Admin login-->
                <form method="get" action="/StudentAccount/GetOTP">

                    <div class="col-sm-6" id="student-button">
                        <button class="btn btn-primary btn-toolbar btn-lg" type="submit">Student</button>
                    </div>
                </form>

                <form method="get" action="/AdminAccount/Login">
                    <div class="col-sm-6" id="admin-button">
                        <button class="btn btn-primary btn-toolbar btn-lg" type="submit">Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <!--Announcement Area-->

    <h1 class="text-center" id="announcement-text">Announcements</h1>
    <div class="container" id="announcement-area">
        <div class="row">
            <!--Image beside announcement-->
            <div class="col-sm-5" id="announcement-image">
                <img src="~/images/Calendar2.png" class="img-fluid" />
            </div>

            <div class="col-sm-7 text-center">
                <table class="table table-striped table-bordered" id="announcement-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>PLEASE READ THE ANNOUNCEMENTS</th>
                            <th>DATE</th>
                        </tr>
                    </thead>


                    @foreach (DataRow row in Model)
                    {
                        <tr>

                            <td>@row["Announcement"]</td>
                            <td>@String.Format("{0:yyyy-MM-dd}", row["Announcement_Date"])</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>


    <!--About Me Area-->
    <section class="about-area" id="about">
        <div class="container-fluid about">
            <div class="row">

                <div class="col-sm-6 about-title">
                    <h2 class="text-uppercase pt-5">
                        <span><u>About Us</u></span>
                    </h2>
                    <div class="fa-paragraph ">
                        <p class="para">
                            This website is developed to improve the processing of concession card for all students in Republic Polytechnic. As students are currently unable to self-check their student concession card status and have to physically go or email One-Stop-Centre to check their card status.

                        </p>
                        <p class="para">
                            Therefore, this self-check portal is built to allow students to self-check the status of the his/her student concession card.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about-image">
                        <img src="~/images/about.png" alt="About" class="img-fluid" />
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!--Contact Us Area-->
    <section id="banner" class="contact-area">
        <div class="container" id="contact">
            <h1 class="text-uppercase pt-5 text-center">
                <span>Contact Us</span>
            </h1>
            <div class="row">


                <div class="col-md-6 text-center" id="colour-side">
                    <h2>How can we help?</h2>
                    <p>Please fill in your personal particulars and enter the feedback to us and click send!</p>
                    <p>Our team will get in contact with you as soon as possible.</p>
                    <p></p>
                    <p></p>
                    <p><b>Address:</b> 9 Woodlands Avenue 9, Singapore 738964</p>
                    <p><b>Tel:</b> 6510 3000 (8 am to 6 pm, Monday to Friday)</p>
                </div>



                <div class="col-md-6" id="login-side">
                    <form method="post">

                        <div class="row">
                            <div class="col-md-6">
                                <label class="contact-labels">FIRST NAME</label>
                                <input type="text" class="form-control" />
                            </div>
                            
                            <div class="col-md-6">
                                <label class="contact-labels">LAST NAME</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="contact-labels">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label class="contact-labels">Message</label>
                            <textarea class="form-control"></textarea>
                        </div>


                        <div class="form-group">
                            <input type="submit" style="margin-left: 150px;" class="btn btn-lg btn-primary" value="Send Message" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <!--Scroll to top button-->
    <button id="topBtn"><i class="fas fa-arrow-up"></i></button>
</body>
</html>