<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Concession Card - Admin</title>

    <!-- style sheets references -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!--INSERT CSS FILE HERE-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Index.css" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

</head>


<body>
    <!--RP Logo Area-->
    <section id="banner" class="rp-logo">
        <img src="~/images/RP_Logo.png" width="200" height="80" />
    </section>

    <span style="color:red">@TempData["Msg"]</span>
    <section id="banner" class="button-area">
        <div class="container">

            <div class="row">
                <div class="col-md-12" style="margin-top: 120px;">
                    <div class="card-deck text-center">
                        <div class="card col-md-6" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center"><b>Create Student</b></h5>
                                <p class="card-text">Click here to Create Student User and specify their information.</p>
                                <form method="get" action="/Admin/CreateStudent">
                                    <div class="col-md-4" id="first-row-btn">
                                        <button class="btn btn-primary btn-toolbar btn-lg">Create Student</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card col-md-6" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center"><b>List Students</b></h5>
                                <p class="card-text">Click here to view and edit the list of students and their card status.</p>
                                <form method="get" action="/Admin/ListStudent">
                                    <div class="col-md-4" id="first-row-btn">
                                        <button class="btn btn-primary btn-toolbar btn-lg">List Students</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>




            <!--<div class="row">
                <form method="get" action="/Admin/CreateStudent">
                    <div class="col-md-4" id="first-row-btn">
                        <button class="btn btn-primary btn-toolbar btn-lg">Create Student</button>
                    </div>
                </form>-->


                <!--LOCK STUDENT FUNCTION WILL BE INSIDE LIST STUDENT-->
                <!--<form method="get" action="/Admin/ListStudent">
                    <div class="col-md-4" id="first-row-btn">
                        <button class="btn btn-primary btn-toolbar btn-lg">List Students</button>
                    </div>
                </form>

            </div>-->
        </div>
    </section>
</body>
</html>