@model DataRowCollection

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Report Generation</title>

    <!-- style sheets references -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/ReportGen.css" />

    <!-- script files references -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>

    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script src="~/lib/chartjs/Chart.min.js"></script>
    <script src="~/lib/chartjs/chartjs-plugin-labels.min.js"></script>

</head>

<body>

    <!--RP Logo Area-->
    <section id="banner" class="rp-logo">
        <a href="https://localhost:44383/Admin">
            <img src="~/images/RP_Logo.png" width="200" height="80" />
        </a>
    </section>



    <script>
        $(document).ready(function () {
            $('#ReportTable').DataTable({
                paging: true,
                ordering: true,
                searching: true,
                info: true,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]

            });
        });
    </script>



    @if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MsgType"]">
            @TempData["Message"]
        </div>
    }
    <section id="main-area">
        <div class="container" style="text-align: center">
            <h1>
                <span style="color: black"> All Students </span>
            </h1>
        </div>


        <div class="container" style=" align-content: center">
            <table style="background-color: lightgray" ; id="ReportTable" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"> Student ID </th>
                        <th scope="col"> Student Name </th>
                        <th scope="col"> Start Date </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model)
                    {
                        <tr>
                            <td>@row["student_email"]</td>
                            <td>@row["student_name"]</td>
                            <td>@row["pending_date"]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

</body>
</html>

<!-- Syakir -->